<div>
  <h1>About Us</h1>
  <h2>Educators and Staff</h2>
  <ul>
    <li>
      <h3>Melissa Curk, LSW</h3>
      <a href="emailto:melicurk@kidshavehope.org">melicurk@kidshavehope.org</a>
      <p>
        Melissa Curk is a licensed social worker in Chicago, Illinois.  
        Melissa received her MSW from University of Illinois at Chicago 
        in 2009 with a concentration in school social work. Before 
        receiving her MSW, Melissa worked at UIC as a researcher in the 
        psychiatric department working with children with bipolar 
        disorder, ADHD, and autism where she was published in several 
        journals including Journal of Child and Adolescent 
        Psycho-pharmacology,  Biological Psychiatry, and Psychological 
        Medicine. She also holds a bachelors’ degree in Psychology from 
        DePaul University.  Melissa lives in Chicago with her husband.
      </p>    
    </li>
    <li>
      <h3>Patricia Roman, LSW </h3>
      <a href="emailto:proman@kidshavehope.org">proman@kidshavehope.org</a>
      <p>
        Patricia Roman received her Master’s Degree in Social Work from 
        the University of Illinois at Chicago. She also has a Bachelor 
        of Arts Degree in Communication from Illinois State University. 
        While obtaining her degrees Patricia spent 8 years in the Air 
        National Guard, during which time she deployed to Uzbekistan to 
        support Operation Enduring Freedom and to Mississippi to support 
        humanitarian efforts in the aftermath of Hurricane Katrina. She 
        has always had a strong interest in working with people, but it 
        was during her time in Mississippi working at the evacuee 
        shelters that she realized how passionate she was about making a 
        difference in people’s lives. Patricia lives in Chicago with her 
        husband and daughter.
      </p>  
    </li>
    <li>
      <h3>Kurt Kiefhaber, MBA </h3>
      <a href="emailto:kkiefhaber@kidshavehope.org">kkiefhaber@kidshavehope.org</a>
      <p>
        Kurt Kiefhaber currently works as a Clinical Engineer at 
        Northwestern Memorial Hospital, one of Chicago’s leading health 
        care and academic medical centers.  He has a Bachelor of Science 
        degree in Electrical Engineering Technology from Southern 
        Illinois University at Carbondale and a Masters of Business 
        Administration from DePaul University.  Kurt became active in 
        volunteering in the community while serving as a call center 
        operator for the National Runaway Switchboard where he 
        eventually gained enough experience to become a call room 
        supervisor.  The National Runaway Switchboard provides 
        information on local shelters, solution-focused interventions, 
        and responds to at-risk youth and their families 24 hours a day.  
        Kurt currently resides in Chicago.
      </p>  
    </li>
    <li>
      <h3>Gaston Curk</h3>
      <a href="emailto:gcurk@kidshavehope.org">gcurk@kidshavehope.org</a>
      <p>
        Gaston Curk attended Northern Illinois University where he 
        studied Business and Psychology.  In 1996 Gaston pursued a 
        professional career in the mailing industry and eventually 
        founded One Stop Mailing in November of 2003.  Gaston is 
        currently the Chief Executive Officer but has since re-branded 
        the company OSM Worldwide, a domestic and international mail and 
        parcel consolidation company. OSM was recently recognized as the 
        fastest growing consolidator in the Midwest and is poised for 
        steady growth in the years to come. Gaston currently lives in 
        the Ukrainian Village area of Chicago with his wife Melissa.
      </p>  
    </li>
    <li>
      <h3>Alicia Milan-Flanigan, MD</h3>
      <p>
        Alicia Milan-Flanigan is an International Medical Graduate who 
        received her medical degree from the Universidad Autonoma de San 
        Luis Potosi, Mexico. She completed her residency training in 
        Family Medicine at the University of Illinois at Rockford, 
        serving as a Chief Resident in her last year. She was named 
        Outstanding Family Practice Resident and received the Resident 
        Teaching Award by the Society of Teachers of Family Medicine. 
        Upon graduation, Alicia worked as a primary care physician at 
        PrimeCare a FQHC where she provided care to the minority 
        uninsured and under-served population and worked as a community 
        preceptor in the residency program. One year later, she joined 
        the Family Medicine Residency Program of Saints Mary and 
        Elizabeth Medical Center as a full time faculty where she is the 
        Maternity Care and Women’s Health curriculum coordinator. For 
        the past year, she has served as a chair of the Academic Adviser 
        Committee where her role is evaluate and improve the residency 
        curriculum and deal with residents in difficulty.
      </p>
      <p>  Out of her entrepreneurial spirit and passion to make a 
        difference, she is dedicating most her time towards improving 
        women and children’s health regardless of their legal or 
        economical status.  She is convinced that children must be the 
        primary focus in any society and protect their integrity is her 
        primary goal.
      </p>  
    </li>
    <li>
      <h3>Camilla Dadey</h3>
      <p>
        Camilla Dadey is President of Elemental Media Inc., a resource 
        for marketing and video development and production. She helps 
        business and non-profits light up the part of the brain 
        responsible for decision making and behavior: sparking 
        understanding; moving the viewer to learn more; and clarifying 
        business positions. Camilla has produced numerous videos for 
        non-profits including The Humane Society of the United States 
        and Habitat for Humanity. She is active in her church and has 
        volunteered for many social, environmental and child related 
        causes. She particularly enjoys helping kids embrace creative 
        thinking through Improv, acting and art. Camilla holds a 
        Bachelor of Arts in Communication from Pennsylvania State 
        University. She lives in Deerfield with her husband and two 
        children. 
      </p>  
    </li>
    <li>
      <h3>Michael Frost, CPA</h3>
      <p>
        Michael Frost is a licensed CPA in Illinois. He currently works 
        as a Senior Accountant with Attorneys’ Liability Assurance 
        Society, Inc., A RRG, an insurance company located in Chicago, 
        Illinois, which provides professional liability insurance to law 
        firms. He has a Bachelor of Science degree in Accounting from 
        Drexel University in Philadelphia, PA. Prior to moving to 
        Chicago, Michael spent ten years working at an accounting firm 
        in the Philadelphia area, concentrating on tax services and 
        financial reporting for a variety of small businesses and their 
        owners. Michael is looking forward to spending more time 
        volunteering, with a focus on organizations that improve the 
        lives of children.
      </p>  
    </li>
  </ul>  
</div>
