<section>
  <h1>Donations &amp; Contributions</h1>
  <h2>Support Kids Have Hope, a Non-Profit Organization</h2>
  <p>Every dollar counts in the fight to prevent child sexual abuse.</p>
  <div>
    <h3>Send donations by check to:</h2>
    <p>Kids Have Hope</p>
    <p>P.O. Box 221066, Chicago, IL 60622</p>
  </div>
  <div>
    <h3>Make a donation electronically</h3>
    <p>Any amount</p> <!-- donate button here -->
    <p>
      Every dollar counts in the fight to prevent child sexual abuse. To make a donation of 
      your choice, please click on the button below. Thank you!
    </p>
    <p>$15 towards materials for classrooms</p> <!-- donate button here -->
    <p>
      Kids Have Hope uses many different materials in the classroom to help us prevent 
      child abuse, including coloring books, parenting pamphlets, body safety credit cards, 
      and bully patrol badges. A $15 donation goes a long way towards preventing child abuse. 
      Thank you!
    </p>  
  </div>
  <div>
    <h3>Volunteer</h3>
    <p>
      We're constantly looking for volunteers, for more information, please contact Melissa Curk at: 
      <a href="mailto:melicurk@kidshavehope.org">melicurk@kidshavehope.org</a> or 1-888-806-8481.
    </p>
  </div>
</section>

