<section>
  <h1>Child Sexual Abuse Prevention</h1>
  <h2>Education &amp; Seminar Services</h2>
  <figure>
    <iframe src="http://player.vimeo.com/video/27962501?title=0&amp;byline=0&amp;portrait=0" width="496" height="300" frameborder="0"></iframe>
  </figure>
  <p>
    Our <a href="http://kidshavehope.org/">child sexual abuse educational services</a> 
    are designed for students, teachers, parents, families, community members and health 
    care professionals that are concerned for children's safety.
  </p>
  <h3>Student &amp; Classroom Services</h3>
  <p>
    We offer an evidence-based curriculum designed to teach children the language 
    and skills to stay safe. 
    <a href="<%= about_path %>">Trained professionals</a> will use the 
    curriculum in the student's classroom as a tool to teach appropriate boundaries, 
    body safety rules, internet safety, how to protect yourself and others against 
    bullying, and empowerment to prevent and stop abuse.
  </p>
  <h3>Teacher In-services</h3>
  <p>
    We help educators learn how to detect, 
    <a href="http://kidshavehope.org/">report and prevent child sexual abuse</a>. 
    According to the Child Welfare Information Gateway, “in 2006, an estimated 905,000 
    children in the United States were found to be victims of child abuse and neglect.” 
    (2008)*
  </p>
  <p>
    Child Welfare Information Gateway. (2008) Preventing child abuse and neglect 
    retrieved from:
    <a href="http://www.childwelfare.gov/pubs/factsheets/preventingcan.cfm">
      http://www.childwelfare.gov/pubs/factsheets/preventingcan.cfm</a>
  </p>
  <h3>Educational Parental Seminars</h3>
  <p>
    <a href="http://kidshavehope.org/">Kids Have Hope</a> helps parents identify the 
    risks and develop sexual abuse prevention strategies. 
  </p>  
</section>
<aside>
  <h3>Learn</h3>
  <p>
    We teach best practices, prevention methodology and positive 
    reinforcement techniques so you can help prevent   
    Cyber bullying, “sexting” and eliminate dating violence.
  </p>
</aside>
