<section>
  <h1>The Hope Store</h1>
  <h2>Kids Have Hope Gifts &amp; Gear</h2>
  <p>
    Thank you for visiting our Hope Store! Please check out our newest item, 
    the Hope Bear. Shipping is FREE! All proceeds goes to Kids Have Hope to help 
    prevent and stop child abuse. Thank you for visiting!
  </p>  
  <h3>Hope Bear</h3>
  <p>
    Each 12 inch bear is full of hope and love! The bear comes with a silicone 
    bracelet that can be worn by your child.
  </p>
  <!-- <img src="/kids-have-hope-bear.jpg"> -->
  <p>$15</p> <!-- paypal button here -->
  <p>$135</p> <!-- paypal button here -->
</section>

