<section>
  <h1>Testimonials</h1>
  <h2>Read what others have to say about Kids Have Hope and the Good Touch Bad Touch program!</h2>
  <blockquote>
    <p>
      “I was able to observe and participate in about a ½ dozen lessons Melissa taught 
      here at Rowe. With my background in social work, knowledge of child development 
      and prevention curriculum, I was extremely pleased with scholar engagement and 
      learning taking place in the classrooms during Melissa’s lessons.
    </p>
    <p>  
      I would absolutely have both the program and Melissa as an instructor back to Rowe.﻿
      Melissa went above and beyond with our community by meeting with our school principal 
      twice, meeting with the president of our operating organization, providing teacher 
      PD and a parent workshop all leading up to timely execution of 30 lessons of Good 
      Touch, Bad Touch with our scholars. Even still, she spoke separately with scholars 
      who presented any concern for potential experience with sexual abuse and followed up 
      with me to close the loop.”
    </p>
    <cite>Julia Wright, School Social Worker, Rowe Elementary</cite>
  </blockquote>
  <blockquote>
    <p>
      “My child came home and told me about the definition of sexual abuse. She told me 
      they didn’t just tell us about good and bad touches. I was happy she had this additional 
      knowledge and that at Rowe Elementary, thanks to Kids Have Hope and the Good Touch/Bad 
      Touch curriculum, she will review this learning and add more learning to the topic each 
      year as she grows.”
    </p>
    <cite>Rowe Elementary, Parent</cite>
  </blockquote>
  <blockquote>
    <p>
      “The Good Touch Bad Touch curriculum is an excellent program for schools. The material 
      is age appropriate and easy for the kids to understand. I think it is great that Good 
      Touch Bad Touch teaches students how to be aware of that “Uh-Oh” feeling and that it is 
      okay to question others when you have that feeling. 
    </p>
    <p>  
      Many students do not know or believe it to be okay to question adults when something 
      does not feel right in terms of their safety and health but Good Touch Bad Touch teaches 
      them it is not only okay but important to act on these feelings. The picture diagrams 
      were instrumental at showing students the difference between Good Touches and Bad Touches 
      and helped visualize what Melissa was presenting to the students. The presentation was 
      interactive and the students and staff enjoyed the presentation and having Melissa. It is 
      great that Good Touch Bad Touch provides follow up curriculum that school personnel can 
      use with students to reinforce concepts. Thank you Melissa and Kids Have Hope for 
      presenting at our school!”
    </p>
    <cite>Brianne Boehrnsen, School Social Worker, Manteno Elementary</cite>
  </blockquote>
  <blockquote>
    <p>
      “The Good Touch Bad Touch class was fantastic. Our 4-5 year olds learned body safety rules 
      in a fun and age appropriate manner. We were able to take the lessons Melissa taught our 
      kids and easily reinforce them at home. Thanks for an awesome workshop!!”
    </p>  
    <cite>Melissa Moyer, Parent</cite>
  </blockquote>
  <blockquote>
    <p>
      “This is just a note to thank Melissa Curk and Kids Have Hope organization for presenting 
      such a valuable program to the head start students in the South Shore community. The “Good 
      Touch/Bad Touch” curriculum is a unique and captivating way to teach and reinforce personal 
      body safety rules. The students were engaged and the message was excellent.”
    </p>
    <cite>Shawntale Myles, Early Childhood Resource Coordinator, SGA Youth and Family Services</cite>
  </blockquote> 
</section>
<aside>
  <h3>How Can We Help You?</h3>
  <p>
    Kids Have Hope would love educate you and your children about abuse prevention and child safety. 
    Please contact us to learn more about our child abuse prevention and educational programs.
  </p>
</aside>
