<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Kids Have Hope</title>
  </head>
  <body>
    <div role="document">
      <header>
        <a href="#" title="Back to Home">
          <img src="" alt="Kids Have Hope Logo" />
        </a>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Subscribe</a></li>
        </ul>
        <ul>
          <li><a href=#>Services</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Testimonials</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Donate</a></li>
          <li><%= link_to 'Contact Us', new_contact_request_path %></li>
        </ul>
      </header>
      <div role="main">
      </div>
      <footer role="contentinfo">
      </footer>
    </div>
  </body>
</html>
Welcome

<% @donation_campaigns.each do |donation| %>
  <%= "#{donation.title} - #{donation.amount} - #{donation.description}" %>
<% end %>

