<section>
  <h1>Child Abuse Prevention</h1>
  <h2>
    Kids Have Hope is a Chicago based 501c3 non-profit organization 
    dedicated to preventing the physical and sexual abuse of children 
    through empowerment and education.
  </h2>
  <figure>
    <img src="images/content/contemplative-child.jpg" 
          width="496"
         alt="" />
  </figure>
  <p>
    Kids Have Hope provides an evidence-based curriculum 
    on prevention and awareness of abuse including:
  </p>
  <ul>
    <li>Sexual Abuse</li>
    <li>Emotional Abuse</li>
    <li>Physical Abuse</li>
    <li>Violence Prevention </li>
    <li>Bullying</li>
  </ul>
  <p>
    We provide this service to students in  pre-school through 6th 
    grade. We offer educational in-services to schools and 
    communities which help prevent and detect child sexual 
    abuse by raising awareness and implementing effective 
    strategies. 
  </p>
  <p>
    Our information sessions are designed for 
    teachers, faculty, parents, health care providers and 
    community members who want to prevent and detect child 
    sexual abuse.
  </p>
  <h3>Request Professional Assistance</h3>
  <p>
    We are available to answer questions about child abuse or 
    you can setup a meeting with one of our Licensed Social 
    Workers who can explain, in detail, our various programs.
    Contact us for an initial meeting and take a stand to stop child 
    sexual abuse.
  </p>
</section>
<aside>
  <h3>Handling a Report of Abuse</h3>
  <p>
    To report  abuse in Illinois call: 
    <strong>1-800-252-2873</strong>.
  </p>
  <p>
      Outside of Illinois call: 
    <strong>1-800-422-4453</strong>.
  </p>
  <ul>
    <li>Remain calm.</li>
    <li>Believe the child.</li>
    <li>Listen to the child.</li>
    <li>Assure the child they did nothing wrong.</li>
    <li>Make sure the child is safe.</li>
    <li>Get Help.</li>
  </ul>
</aside>

