<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Kids Have Hope</title>
  </head>
  <body>
    <div role="document">
      <header>
        <a href="#" title="Back to Home">
          <img src="" alt="Kids Have Hope Logo" />
        </a>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>Subscribe</li>
        </ul>
        <ul>
          <li>Services</li>
          <li>About</li>
          <li>Testimonials</li>
          <li>Events</li>
          <li>Donate</li>
          <li>Contact Us</li>
        </ul>
      </header>
      <div role="main">
      </div>
      <footer role=contentinfo">
      </footer>
    </div>
  </body>
</html>
