<h1>Admin Section</h1>


<%= link_to 'workshop events', admin_events_path %>
<br />
<%= link_to 'fundraisers', admin_fundraisers_path %>
<br />
<%= link_to 'tweet', admin_new_tweet_path(:message => "") %>
