<section>
  <h1>PayPal Donations</h1>
  <h2>
    Every dollar counts in the fight to prevent child abuse. To make a 
    donation of your choice, please click on the button below. Thank 
    you!
  </h2>
  <p>
    Kids Have Hope uses many different materials in the classroom to 
    help us prevent child abuse, including coloring books, parenting 
    pamphlets, body safety credit cards, and bully patrol badges. 
  </p>
  <p>
    A <strong>$15 donation</strong> goes a long way towards preventing 
    child abuse.
    <%= paypal_button %>
  </p>  
  <h3>Donation Campaigns</h3>
  <p>
    <%= render :partial => "donation_campaigns/donation"%>
    </p>
    <h3>Mail in Donations</h3>
    <p>
      If you would like to make a charitable donation, please make the 
      check out to Kids Have Hope and send it to:
    </p>
    <ul class="no-list-style" itemscope itemtype="http://schema.org/PostalAddress">
      <li itemprop="name">Kids Have Hope</li>
      <li itemprop="postOfficeBoxNumber">P.O. Box 221066</li>
      <li>
        <span itemprop="addressLocality">Chicago</span>, 
        <span itemprop="addressRegion">IL</span> 
        <span itemprop="postalCode">60622</span>
      </li>
    </ul>
  </section>
  <aside>
    <h3>Volunteer</h3>
    <p>
      We're constantly looking for volunteers, for more information, 
      please contact Melissa Curk at: <a 
        href="mailto:melicurk@kidshavehope.org">melicurk@kidshavehope.org</a> 
      or 1-888-806-8481.
    </p>
  </aside>
