<h1>Kids Corner</h1>

<%= link_to "New Kids Corner", [:new, :admin, :kids_corner] %> |
<%= link_to "Admin Home", admin_root_path %>
<hr />
<ul>
<%- @kids_corners.each do |corner| %>
  <li> <%= link_to corner.title, [:edit, :admin, corner] %> </li>
<%- end %>
</ul>
