<ul>
  <% @donation_campaigns.each do |donation| %> 
    <li>
      <%= donation.title %> for $<%= donation.amount%> | <%= paypal_button({:amount => donation.amount, :name => donation.title}) %>
      <br />
      <%= donation.description%>
    </li>
  <%end%>
</ul>
