<div>

    <% @donation_campaigns.each do |donation| %> 
      <p>
        <%= donation.title %> <em>for</em> <strong>$<%= donation.amount%></strong>
      </p>
      <p>
        <%= donation.description%>
      </p>
        <%= paypal_button({:amount => donation.amount, :name => donation.title}) %>
    <%end%>
  
</div>
