<div class="donation-campaign">
  <% @donation_campaigns.each do |donation| %> 
    <h4>
      <%= donation.title %> for $<%= donation.amount%>
    </h4>
    <p>
      <%= donation.description%>
    </p>
    <%= paypal_button({:amount => donation.amount, :name => donation.title}) %>
  <%end%>
</div>
