<ul>
  <% @questions.each do |question| %>
    <li>
      <span><%= question.title %></span>
      <%= link_to 'answers', admin_quiz_question_answers_path(@quiz, question) %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Question', new_admin_quiz_question_path(@quiz) %>
